body{
  font-size: 150%;
  background-color: steelblue;


}



header{
  display: flex;
  flex-direction: column;
  max-width: 80%;
  max-height: 30%;
  justify-content: center;
  align-items: space-between;
  font-size: 50px;

}

.row{
  display: flex;
  border-radius: 10px;
  max-width: 75%;
  background-color: whitesmoke;
}

.column{
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-evenly;
  float: left;
  width: 50%;
}

.teamTotal{
  display: flex;
  width: 75%;
}

.charBox{
  display: flex;
  border-radius: 10px;
  justify-content: flex-start;
  background-color: lightblue;
  width: 75%;
  height: 30%;

}



.charCol{
  display: flex;
  flex-direction: column;
  width: 250px;
}

#calculate{
  border-radius: 5px;
  max-width: 100px;
}
