body{
  font-size: 150%;
  background-color: #475275;


}



header{
  display: flex;
  flex-direction: column;
  max-width: 80%;
  max-height: 30%;
  justify-content: center;
  align-items: space-between;
  font-size: 50px;
  color: whitesmoke;

}

.row{
  display: flex;
  border-radius: 5px;
  max-width: 75%;
  background-color: #43484c;
  color: whitesmoke;
}

.column{
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  background-color: #43484c;
  float: left;
  width: 50%;
}

.teamTotal{
  display: flex;
  color: whitesmoke;
  width: 75%;
}

.charBox{
  display: flex;
  border-radius: 10px;
  justify-content: flex-start;
  background-color: #475275;
  border-style: solid;
  border-color: black;
  width: 75%;
  height: 30%;

}





.charCol{
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 50%;
}
.suppSelect{
  width: 50%;
  border-radius: 7px;
}

.suppSelect:hover{
  border-style: solid;
  border-color: #f99e1a;
}

.dpsSelect{
  width: 50%;
  border-radius: 7px;
}

.dpsSelect:hover{
  border-style: solid;
  border-color: #f99e1a;
}

.tankSelect{
  width: 50%;
  border-radius: 7px;
}

.tankSelect:hover{
  border-style: solid;
  border-color: #f99e1a;
}

.clearHero{
  width: 50%;
  border-radius: 5px;
  border-style: groove;
  background-color: #f99e1a;
  color: whitesmoke;
  font-size: 75%;
}

.clearHero:hover{
  border-color: gray;
}

#calculate{
  border-radius: 5px;
  max-width: 100px;
}
